<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vaja2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    </head>
    <body>
        <h2>Dashboard</h2>
        <p>Prijavljen: {{user}}</p>
        <a href="/logout">Logout</a>
        <hr>
        <h3>Nova objava</h3>

        <form id="postForm">
            <textarea name="content" placeholder="Napiši nekaj..."></textarea><br>
            <button type="submit">Objavi</button>
        </form>

        <hr>
        <h3>Vse objave</h3>

        {% for post in posts %}
            <p><b>{{post.username}}</b></p>
            <p>{{post.content}}</p>
            <p>{{post.created_at}}</p>

            {% if post.user_id == session["user_id"] %}
                {% if now < post.edit_until %}
                    <a href="/edit_post/{{post.id}}">Edit</a>
                {% else %}
                    <p>Ni več možno urejati (24h mimo)</p>
                {% endif %}
            {% endif %}

            <hr>
        {% endfor %}

    </body>

    <script>
        document.getElementById("postForm").onsubmit = function(e){
            e.preventDefault(); //preprec da se avtomatsko osvezi

            let data = new FormData(this); //taka podatke pa shrani

            fetch("/create_post", { //posle mi v py
                method: "POST",
                body: data //dejanski podatki
            })
            .then(res => res.json()) //obdela odgovr od backenda
            .then(data => {
                if(data.success){ //preveri
                    location.reload(); //tuki reseta
                } else {
                    alert("Napaka"); //ce jebe neki
                }
            });
        }
    </script>


</html>

